<div class="container-fluid header-formated">
    <div class="row header-formated">
        <div class="col-7 padding-format align-items-center justify-content-start row">
            <span class="title">
                <h3>
                    <b>PT S U M I D A O </b>
                </h3>
            </span>
            <span class="version">v1.1</span>
        </div>
        <div class="col-2">
            <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input [(ngModel)]="this.login" matInput>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input [(ngModel)]="this.password" type="password" matInput>
            </mat-form-field>
        </div>
        <div class="col-1 row align-items-start full-height-format">
            <button mat-button (click)="resetar()" color="accent" class="button-format">Resetar</button>
        </div>
    </div>
</div>
